* {
    box-sizing: border-box;
}

@font-face {
    font-family: quicksand;
    src: url("/home/shivam/Documents/TheOdinProject/kv-powell-guide/Quicksand_Book.otf") format("opentype");
}
  
body {
    font-family: sans-serif;
}
