* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
@font-face {
    font-family: quicksand;
    src: url("/home/shivam/Documents/TheOdinProject/kv-powell-guide/Quicksand_Book.otf") format("opentype");
}
  
body {
    font-family: sans-serif;
}

body {
    margin: 0;
    /* font-family: sans-serif; */
    font-size: 1;
}

.container {
    background-color: #23424a;
    color: white;
    
    width: 80%;
    margin: 0 auto;
    

    font-size: 1.2rem;
    padding: 5em;
}
